#statusBarListView .list-view{
    -fx-background-color: #cccccc;
}

#statusBarListView .list-cell{
    -fx-background-color: #cccccc;
}

#status-bar-container {
    -fx-background-color: #cccccc;
}